# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.log.*

# Ignore everything inside import and export folders, but not the folders themselves
import/*
!import/
export/*
!export/
backup/*
!backup/

.env